**/**/node_modules
**/**/dist
**/**/*.env
**/**/.env.example
**/**/target
**/**/.vscode
**/**/.idea
**/**/.github
**/**/.angular
.git
node_modules
target
dist
*.log
*.tmp
.vscode
.env
