<div class="max-width-275">
  <nz-input-wrapper>
    <input
      type="text"
      [(ngModel)]="filterText"
      nz-input
      aria-label="Filter branches"
      [placeholder]="branchCount() > 0 ? 'Search ' + branchCount() + ' branches...' : 'Search branches...'"
    />
    <button
      nzInputSuffix
      type="button"
      class="icon-button pointer"
      nz-icon
      nzType="close-square"
      nz-tooltip
      [nzTooltipMouseEnterDelay]="1"
      nzTooltipTitle="Clear field"
      aria-label="Clear branch filter"
      (click)="filterText.set('')"
    ></button>
  </nz-input-wrapper>
</div>
