<div class="flex flex-col gap-1 w-full">

  <!-- FILTER ROW -->
  <div class="flex justify-between items-center w-full">

    <div class="flex flex-nowrap gap-050 items-center overflow-x-auto">

      <!-- PROJECT -->
      <gcd-project-filter
        [projects]="projects()"
        [(filterText)]="filterText"
      ></gcd-project-filter>

      <!-- GROUP -->
      <gcd-text-filter
        [(filterText)]="filterGroup"
        [placeholder]="'Search groups...'"
      ></gcd-text-filter>

      <!-- BRANCH -->
      <gcd-text-filter
        [(filterText)]="filterBranch"
        [placeholder]="'Search branches...'"
      ></gcd-text-filter>

      <!-- TRIGGER -->
      <gcd-text-filter
        [(filterText)]="filterTrigger"
        [placeholder]="'Search triggers...'"
      ></gcd-text-filter>

      <!-- STATUS -->
      <gcd-text-filter
        [(filterText)]="filterStatus"
        [placeholder]="'Search status...'"
      ></gcd-text-filter>

      <!-- TOPIC -->
      <gcd-topic-filter
        [loading]="loading()"
        [projects]="projects()"
        [(filterTopics)]="filterTopics"
      ></gcd-topic-filter>

      <!-- JOBS -->
      <gcd-job-filter
        [loading]="loading()"
        [jobs]="jobs()"
        [(filterJobs)]="filterJobs"
      ></gcd-job-filter>

    </div>

    <button nz-button nzType="default" (click)="exportCsv()">
      Export CSV
    </button>

  </div>

  @if (loading()) {
    <nz-spin />
  } @else {
    <gcd-schedule-table
      [schedulePipelines]="filteredSchedulePipelines()"
    ></gcd-schedule-table>
  }

</div>
