<div class="flex items-center">
  <div class="max-width-275">
    <nz-input-wrapper>
      <input
        type="text"
        nz-input
        autocomplete="off"
        [attr.aria-label]="placeholder || 'Filter results'"
        [placeholder]="placeholder"
        [ngModel]="filterText"
        (ngModelChange)="update($event)"
      />
      <button
        nzInputSuffix
        type="button"
        class="icon-button pointer"
        nz-icon
        nzType="close-square"
        nz-tooltip
        [nzTooltipMouseEnterDelay]="1"
        nzTooltipTitle="Clear field"
        aria-label="Clear filter"
        (click)="clear()"
      ></button>
    </nz-input-wrapper>
  </div>
</div>

